:root {
    --primary-red: #940509;
    --secondary-red: #BB5B5A;
    --primary-brown: #D9925B;
    --secondary-brown: #E2A87B;
    --primary-white: #FFEFE5;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

body,
pre {
    font-family: "Open Sans", sans-serif !important;
}

* {
    transition: all 0.3s ease-in-out;
}

@supports(scrollbar-color: auto) {
    * {
        scrollbar-color: var(--primary-red) var(--primary-white);
    }
}

@supports selector(::-webkit-scrollbar) {
    * {
        scrollbar-width: thin;
    }
}